<%= form_with model: [ @article, @article.comments.build ] do |form| %>
  <p>
    <%= form.label :commenter %> <br>
    <%= form.text_field :commenter %> 
  </p>
  
  <p>
    <%= form.label :body %> <br>
    <%= form.text_area :body %> 
  </p>

  <div>
  <%= form.select :status, [
    ["Make Public","public"], 
    ["Make Private","private"], 
    ["Archive","archived"]]
  %>
</div>

  <p>
    <%= form.submit %> 
  </p>
  <% end %>
